{% extends 'base.html.twig' %}
{% block title %} Les produits
{% endblock %}

{% block body %}
	<h1>Accueil</h1>
  
	<table class='table tble-striped'>
    <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Date de création</th>
    <th>Description</th>
    <th>Modifier</th>
    <th>Supprimer</th></tr>
		{% for produit in produits %}
			<tr>
            <td>{{produit.id}}</td>
            <td>{{produit.name}}</td>
            <td>{{produit.createdAt|date("m/d/y")}}</td>
            <td>{{produit.description}}</td>
            <td><a href="" class="btn btn-primary">Modifier</a></td>
            <td><a href=""class="btn btn-danger">Supprimer</a></td>
            </tr>
		{% endfor %}
	</table>
<div class="navigation">
		{{ knp_pagination_render(produits) }}
	</div>
{% endblock %}