{% extends 'admin/base.html.twig' %}
{% block title %}
	Les catégories
{% endblock %}
{% block body %}
	<main>
		<h1>Nos catégories</h1>
		<a href={{path('admin_category_new')}}>Ajouter une catégorie</a>
		<table class="table tble-striped">
			<tr>
				<th>Nom</th>
				<th>Id</th>
				<th>Modifier</th>
				<th>Supprimer</th>
			</tr>
			{% for categorie in categories %}
				<tr>
					<td>{{categorie.name}}</td>
					<td>{{categorie.id}}</td>
					<td>
						<a href={{path("admin_category_edit",{'id':categorie.id} )}} class='btn btn-primary'>Modifier</a>
					</td>
					<td>
						<form action={{path('admin_category_delete',{'id':categorie.id} )}} method='POST'>
							<input type="hidden" name='_method' value='DELETE'>
							<input type="submit" value='Supprimer' class='btn btn-danger'>
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>

	</main>
{% endblock %}
